.u-section-1 .u-sheet-1 {
  min-height: 1318px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 67px 971px 0 119px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  text-decoration: none solid rgb(17, 17, 17);
  margin: -30px 993px 0 60px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: -28px 851px 0 159px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 429px;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.4);
  margin: 73px auto 0;
}

.u-section-1 .u-text-4 {
  line-height: 1.6;
  margin: 55px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 156px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 55px 60px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 69px;
    margin-right: 835px;
    margin-left: 55px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -32px;
    margin-right: 853px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -26px;
    margin-right: 719px;
    margin-left: 87px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 71px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 136px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 69px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1265px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -300px;
    margin-right: 670px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 633px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-right: 586px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 351px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 75px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 115px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1242px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 490px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 453px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 410px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 407px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 58px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 95px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.125rem;
    margin-top: 51px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1092px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 290px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 253px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 210px;
  }

  .u-section-1 .u-image-1 {
    height: 256px;
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 62px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 71px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 32px;
  }
}

.u-section-2 .u-sheet-1 {
  min-height: 1617px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -70px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 42px 60px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 95px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 33px 82px 0;
}

.u-section-2 .u-image-1 {
  width: 542px;
  height: 1096px;
  margin: 33px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 869px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -957px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1133px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -102px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-2 .u-image-1 {
    width: 408px;
    height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.125rem;
    width: 376px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    width: 392px;
    height: 442px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1209px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -68px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 64px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 384px;
    margin-top: 24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-section-3 .u-sheet-1 {
  min-height: 1474px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 11px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 33px 82px 0;
}

.u-section-3 .u-image-1 {
  width: 542px;
  height: 1096px;
  margin: 33px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-3 .u-image-1 {
    width: 408px;
    height: 709px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: 376px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    width: 392px;
    height: 422px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -353px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-right: 0;
    margin-left: 11px;
  }

  .u-section-3 .u-image-1 {
    height: 366px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-section-4 .u-sheet-1 {
  min-height: 1358px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -70px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 42px 60px 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 95px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 33px 82px 0;
}

.u-section-4 .u-image-1 {
  width: 787px;
  height: 881px;
  margin: -120px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1228px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1079px;
  }

  .u-section-4 .u-image-1 {
    height: 806px;
    margin-top: -130px;
    margin-bottom: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-1 {
    height: 902px;
    margin-top: -234px;
    margin-bottom: 4px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -379px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 64px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 806px;
    margin-top: -275px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-5 .u-sheet-1 {
  min-height: 685px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -200px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 33px 60px 0;
}

.u-section-5 .u-image-1 {
  width: 788px;
  height: 882px;
  margin: -130px auto 3px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 975px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -50px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 82px;
  }

  .u-section-5 .u-image-1 {
    height: 883px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 35px;
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-5 .u-image-1 {
    height: 807px;
    margin-top: -133px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -173px;
    margin-left: 54px;
    margin-right: 54px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-image-1 {
    height: 902px;
    margin-top: -241px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -458px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 290px;
    margin-top: 9px;
    margin-bottom: 3px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.active {
  color: #b3b3b3;
}