.u-section-1 .u-sheet-1 {
  min-height: 1200px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 430px;
  background-image: url("images/3.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  min-height: 430px;
  background-image: url("images/2-35.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -11px auto 0 129px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -36px 157px 0 auto;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 51px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 430px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 339px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.4);
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
}

.u-section-1 .u-image-4 {
  min-height: 430px;
  background-image: url("images/5.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 8px 173px 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -27px auto 60px 189px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1050px;
  }

  .u-section-1 .u-image-1 {
    min-height: 355px;
  }

  .u-section-1 .u-image-2 {
    min-height: 355px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -8px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 109px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 48px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 355px;
  }

  .u-section-1 .u-image-3 {
    height: 280px;
  }

  .u-section-1 .u-image-4 {
    min-height: 355px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 123px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -36px;
    margin-left: 138px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-1 .u-image-1 {
    min-height: 272px;
  }

  .u-section-1 .u-image-2 {
    min-height: 272px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 23px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 52px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 43px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 272px;
  }

  .u-section-1 .u-image-3 {
    height: 214px;
  }

  .u-section-1 .u-image-4 {
    min-height: 272px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 68px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 83px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2130px;
  }

  .u-section-1 .u-image-1 {
    min-height: 408px;
  }

  .u-section-1 .u-image-2 {
    min-height: 635px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -635px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 484px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 68px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 408px;
  }

  .u-section-1 .u-image-3 {
    height: 321px;
  }

  .u-section-1 .u-image-4 {
    min-height: 630px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -117px;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -549px;
    margin-left: auto;
    margin-bottom: 654px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1440px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 96px;
  }

  .u-section-1 .u-image-1 {
    min-height: 257px;
  }

  .u-section-1 .u-image-2 {
    min-height: 400px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -398px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 310px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 73px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 257px;
  }

  .u-section-1 .u-image-3 {
    height: 202px;
  }

  .u-section-1 .u-image-4 {
    min-height: 397px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -71px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -354px;
    margin-bottom: 60px;
  }
}