.u-section-1 .u-sheet-1 {
  min-height: 1132px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 69px 852px 0 190px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: -30px 931px 0 159px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  text-decoration: none solid rgb(17, 17, 17);
  margin: -30px 993px 0 60px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 429px;
  box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.4);
  margin: 73px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 55px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 156px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 55px 60px 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: 55px 60px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 722px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -28px;
    margin-right: 795px;
    margin-left: 95px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -32px;
    margin-right: 853px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 136px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 69px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 752px;
    margin-right: 612px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 670px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-right: 633px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 139px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 75px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 115px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 53px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1109px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 442px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 490px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 453px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 407px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 58px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 95px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 51px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 242px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 290px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 253px;
  }

  .u-section-1 .u-image-1 {
    height: 256px;
    margin-top: 91px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 62px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 71px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.125rem;
    margin-top: 32px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.125rem;
    margin-top: 53px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 290px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 100px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 55px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 32px;
    margin-bottom: 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 779px;
}

.u-section-3 .u-image-1 {
  width: 806px;
  height: 676px;
  margin: 51px auto 50px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    height: 677px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 605px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 454px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-3 .u-image-1 {
    height: 286px;
    margin-top: -337px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 624px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 100px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  width: 759px;
  margin: 53px auto 0;
}

.u-section-4 .u-icon-1 {
  width: 115px;
  height: 115px;
  margin: 73px auto 0 292px;
  padding: 0;
}

.u-section-4 .u-icon-2 {
  width: 116px;
  height: 115px;
  margin: -115px auto 0 733px;
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 43px 219px 0 661px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: -96px 661px 60px 219px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-icon-1 {
    margin-left: 189px;
  }

  .u-section-4 .u-icon-2 {
    margin-right: 178px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: 119px;
    margin-left: 561px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 561px;
    margin-left: 119px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 129px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: -108px;
    margin-right: 128px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 36px;
    margin-right: 56px;
    margin-left: 404px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 404px;
    margin-left: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-icon-1 {
    width: 90px;
    height: 90px;
    margin-top: 79px;
    margin-left: 60px;
  }

  .u-section-4 .u-icon-2 {
    width: 91px;
    height: 90px;
    margin-top: -90px;
    margin-right: 100px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 30px;
    margin-right: 45px;
    margin-left: 294px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -128px;
    margin-right: 339px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -388px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 42px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 136px;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
    width: 201px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.125rem;
    width: 201px;
    margin-top: -338px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 55px 60px 0;
}

.u-section-5 .u-image-1 {
  width: 760px;
  height: 285px;
  margin: 79px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    width: 720px;
    height: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    width: 540px;
    height: 203px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 956px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -421px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 32px;
  }

  .u-section-5 .u-image-1 {
    height: 128px;
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 670px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 55px 60px 0;
}

.u-section-6 .u-image-1 {
  width: 747px;
  height: 305px;
  margin: 68px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 294px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    width: 540px;
    height: 221px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -579px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 32px;
  }

  .u-section-6 .u-image-1 {
    height: 139px;
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1073px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 55px 60px 0;
}

.u-section-7 .u-image-1 {
  width: 783px;
  height: 272px;
  margin: 55px auto 0;
}

.u-section-7 .u-image-2 {
  width: 783px;
  height: 306px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 250px;
  }

  .u-section-7 .u-image-2 {
    width: 720px;
    height: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 188px;
  }

  .u-section-7 .u-image-2 {
    width: 540px;
    height: 211px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 22px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -632px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 33px;
  }

  .u-section-7 .u-image-1 {
    height: 118px;
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-2 {
    height: 133px;
    margin-bottom: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 4046px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 498px;
}

.u-section-8 .u-image-1 {
  width: 772px;
  height: 344px;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  margin: 57px auto 0;
}

.u-section-8 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-8 .u-image-2 {
  width: 349px;
  height: 712px;
  margin: 25px auto 0;
}

.u-section-8 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 83px auto 0 498px;
}

.u-section-8 .u-text-4 {
  font-size: 1.25rem;
  margin: 21px auto 0 0;
}

.u-section-8 .u-video-1 {
  width: 348px;
  height: 712px;
  margin: 43px auto 0;
}

.u-section-8 .u-text-5 {
  font-size: 1.25rem;
  width: 163px;
  margin: 14px auto 0;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 44px auto 0;
}

.u-section-8 .u-text-7 {
  font-size: 1.25rem;
  margin: 37px auto 0;
}

.u-section-8 .u-video-2 {
  width: 348px;
  height: 712px;
  margin: 43px auto 0;
}

.u-section-8 .u-text-8 {
  font-size: 1.25rem;
  width: 162px;
  margin: 21px auto 0;
}

.u-section-8 .u-text-9 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 51px auto 0 452px;
}

.u-section-8 .u-text-10 {
  font-size: 1.25rem;
  margin: 49px 90px 0 30px;
}

.u-section-8 .u-image-3 {
  width: 1080px;
  height: 330px;
  margin: 37px auto 48px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 4003px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 411px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 411px;
  }

  .u-section-8 .u-text-9 {
    margin-left: 372px;
  }

  .u-section-8 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-3 {
    width: 940px;
    height: 287px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 4047px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-8 .u-image-1 {
    width: 720px;
    height: 321px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 79px;
    margin-left: auto;
  }

  .u-section-8 .u-text-4 {
    margin-top: 25px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-top: 87px;
  }

  .u-section-8 .u-text-7 {
    width: auto;
  }

  .u-section-8 .u-video-2 {
    margin-top: 37px;
  }

  .u-section-8 .u-text-9 {
    width: auto;
    margin-top: 96px;
    margin-left: auto;
  }

  .u-section-8 .u-text-10 {
    width: auto;
    margin-top: 53px;
  }

  .u-section-8 .u-image-3 {
    height: 220px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 4091px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 241px;
  }

  .u-section-8 .u-text-5 {
    font-size: 1rem;
    width: 130px;
    margin-top: 18px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 83px;
  }

  .u-section-8 .u-text-7 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-8 .u-text-8 {
    font-size: 1rem;
    width: 131px;
  }

  .u-section-8 .u-text-9 {
    margin-top: 95px;
  }

  .u-section-8 .u-text-10 {
    margin-top: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 3674px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    width: 98px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 152px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-8 .u-image-2 {
    width: 198px;
    height: 450px;
  }

  .u-section-8 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 81px;
  }

  .u-section-8 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 23px;
    margin-right: 0;
  }

  .u-section-8 .u-video-1 {
    width: 198px;
    height: 405px;
  }

  .u-section-8 .u-text-5 {
    width: 131px;
    margin-top: 12px;
  }

  .u-section-8 .u-text-6 {
    font-size: 1.25rem;
    margin-top: 89px;
  }

  .u-section-8 .u-text-7 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-video-2 {
    width: 198px;
    height: 405px;
  }

  .u-section-8 .u-text-8 {
    width: 130px;
  }

  .u-section-8 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-10 {
    font-size: 1.125rem;
  }

  .u-section-8 .u-image-3 {
    height: 104px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 894px;
}

.u-section-9 .u-image-1 {
  width: 746px;
  height: 581px;
  margin: 17px auto 0;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 57px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  margin: 55px 60px 49px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-9 .u-image-1 {
    width: 720px;
    height: 561px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 421px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 22px;
  }

  .u-section-9 .u-image-1 {
    height: 265px;
    margin-top: -647px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 36px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-bottom: 60px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 22px;
}.u-section-11 .u-sheet-1 {
  min-height: 78px;
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 125px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 20px;
  }
}