.u-section-1 .u-sheet-1 {
  min-height: 1250px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 69px 786px 0 184px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: -30px 931px 0 159px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  text-decoration: none solid rgb(17, 17, 17);
  margin: -30px 993px 0 60px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 429px;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.4);
  margin: 73px auto 0;
}

.u-section-1 .u-text-4 {
  line-height: 1.4;
  margin: 55px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 156px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 55px 60px 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: 55px 60px 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 97px;
    margin-right: 651px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -28px;
    margin-right: 795px;
    margin-left: 95px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -32px;
    margin-right: 853px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 136px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 69px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1545px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -322px;
    margin-right: 541px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 670px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-right: 633px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 139px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 69px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 115px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 53px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1522px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 490px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 453px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 407px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 58px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 95px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 51px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 290px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 253px;
  }

  .u-section-1 .u-image-1 {
    height: 256px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 71px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 71px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.125rem;
    margin-top: 32px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.125rem;
    margin-top: 53px;
    margin-bottom: 32px;
  }
}

.u-section-2 .u-sheet-1 {
  min-height: 290px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 100px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 55px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -254px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 32px;
  }
}

.u-section-3 .u-sheet-1 {
  min-height: 779px;
}

.u-section-3 .u-image-1 {
  width: 806px;
  height: 676px;
  margin: 51px auto 50px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    height: 677px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-3 .u-image-1 {
    height: 605px;
    margin-top: -297px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-3 .u-image-1 {
    height: 454px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-3 .u-image-1 {
    height: 286px;
    margin-top: -226px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-4 .u-sheet-1 {
  min-height: 738px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 100px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  width: 656px;
  margin: 53px auto 0;
}

.u-section-4 .u-icon-1 {
  width: 115px;
  height: 115px;
  margin: 73px auto 0 292px;
  padding: 0;
}

.u-section-4 .u-icon-2 {
  width: 116px;
  height: 115px;
  margin: -115px auto 0 733px;
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 42px 661px 0 219px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: -96px 180px 60px 637px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-icon-1 {
    margin-left: 189px;
  }

  .u-section-4 .u-icon-2 {
    margin-right: 178px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: 561px;
    margin-left: 119px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 80px;
    margin-left: 537px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -306px;
    margin-left: 316px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 52px;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 74px;
    margin-left: 121px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: -108px;
    margin-right: 136px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 35px;
    margin-right: 412px;
    margin-left: 48px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 50px;
    margin-left: 382px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 237px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-icon-1 {
    width: 90px;
    height: 90px;
    margin-top: 79px;
    margin-left: 60px;
  }

  .u-section-4 .u-icon-2 {
    width: 91px;
    height: 90px;
    margin-top: -90px;
    margin-right: 100px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 30px;
    margin-right: 339px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 270px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -388px;
    margin-left: 149px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 32px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 42px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 136px;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
    width: 201px;
    margin-top: -202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.125rem;
    width: 201px;
    margin-top: 139px;
    margin-left: auto;
    margin-right: auto;
  }
}

.u-section-5 .u-sheet-1 {
  min-height: 674px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  width: 854px;
  margin: 57px auto 0;
}

.u-section-5 .u-image-1 {
  width: 760px;
  height: 285px;
  margin: 77px auto 60px;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -260px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 270px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -471px;
  }

  .u-section-5 .u-image-1 {
    height: 203px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -247px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 32px;
  }

  .u-section-5 .u-image-1 {
    height: 128px;
    margin-top: 32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-6 .u-sheet-1 {
  min-height: 670px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 55px 60px 0;
}

.u-section-6 .u-image-1 {
  width: 747px;
  height: 305px;
  margin: 68px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -200px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
  }

  .u-section-6 .u-image-1 {
    height: 294px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: -446px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 211px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -579px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 32px;
  }

  .u-section-6 .u-image-1 {
    height: 139px;
    margin-top: 32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-7 .u-sheet-1 {
  min-height: 554px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 1px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  width: 805px;
  margin: 50px auto 0;
}

.u-section-7 .u-image-1 {
  width: 901px;
  height: 440px;
  margin: -8px auto 1px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    height: 439px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -104px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    height: 351px;
    margin-top: -49px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 173px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -329px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 51px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -103px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 22px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -312px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 34px;
  }

  .u-section-7 .u-image-1 {
    height: 166px;
    margin-top: -26px;
    margin-bottom: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-8 .u-sheet-1 {
  min-height: 500px;
}

.u-section-8 .u-video-1 {
  height: 500px;
  margin-top: -91px;
  margin-bottom: 60px;
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 29px;
  }

  .u-section-8 .u-video-1 {
    margin-top: -413px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-8 .u-video-1 {
    height: 434px;
    margin-top: -262px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-8 .u-video-1 {
    margin-top: -200px;
  }
}

.u-section-9 .u-sheet-1 {
  min-height: 1056px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 107px auto 0;
}

.u-section-9 .u-image-1 {
  width: 802px;
  height: 459px;
  margin: 32px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  margin: 32px 60px 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1009px;
  }

  .u-section-9 .u-image-1 {
    width: 720px;
    height: 412px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 309px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -39px;
  }

  .u-section-9 .u-image-1 {
    height: 195px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-text-2 {
    width: auto;
  }
}

.u-section-10 .u-sheet-1 {
  min-height: 2112px;
}

.u-section-10 .u-image-1 {
  width: 802px;
  height: 625px;
  margin: -223px auto 0;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 41px auto 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.25rem;
  margin: 53px 60px 0;
}

.u-section-10 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 138px auto 0;
}

.u-section-10 .u-text-4 {
  font-size: 1.25rem;
  margin: 53px 60px 0;
}

.u-section-10 .u-image-2 {
  width: 802px;
  height: 459px;
  margin: 103px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1883px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-2 {
    margin-top: 88px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2001px;
  }

  .u-section-10 .u-image-1 {
    height: 561px;
    margin-top: -158px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-text-1 {
    margin-top: -24px;
  }

  .u-section-10 .u-image-2 {
    width: 720px;
    height: 412px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1741px;
  }

  .u-section-10 .u-image-2 {
    width: 540px;
    height: 309px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1713px;
  }

  .u-section-10 .u-image-1 {
    margin-top: -411px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -150px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-10 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 58px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-10 .u-image-2 {
    height: 224px;
    width: 391px;
    margin: 73px -25px 58px;
  }
}

.u-section-11 .u-sheet-1 {
  min-height: 22px;
}

.u-section-12 .u-sheet-1 {
  min-height: 18px;
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 29px;
  }
}

.active {
  color: #b3b3b3;
}